{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<header>
  <h1>Contact</h1>
</header>

<article>
  <p> e-mail: o.danilewicz@gmail.com </p>
</article>
{% endblock content %}
</html>
