{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<header>
  <h1>Homepage</h1>
</header>

<article>
  <p> Welcome, it's my new page. Hope you'll enjoy it! </p>
</article>

{% endblock content %}
</html>
